.Header {
  text-align: center;
  margin: 2%;
  color: DimGrey;

  h1 {
      font-size: 35px;
      margin-bottom: 2%;
  }
}

.Gallery{
    margin: 2%;
}

.Search {
    margin-top: 2%;
    text-align: center;

    h2 {
        font-style: italic;
        font-size: 22px;
        color: grey;
    }
}

.SearchList {
    margin: 2%;
}

.nextButton{
    margin-bottom: 6%;
    margin-right: 2%;
    margin-left: 2%;
}
